body {
    background-color:lightgray;
}

html, body {
    height:100%;
}

.screen, .control_panel {
    float:left;
    height: 100%;
}

.control_panel {
    background-color:skyblue;
    width:19%;
    border: 1px solid blue;
}

.screen {
    width:80%;
    background-color:springgreen;
    text-align:center;
    vertical-align:center;
    border-radius: 10px;
    border: 1px solid green;
}


.ui:after {
    content: "";
    display: table;
    clear: both;
}

.ui {
    margin:0px;
    height:95%;
}

#view_canvas {
    border:1px solid black;
    margin-top:1%;
    height:95%;
    width:95%;
}