body {
    background-color:lightgray;
}

.screen, .control_panel {
    float: left;
    width:80%;
    height: 300px;
}

.control_panel {
    background-color:skyblue;
    width:20%;
}

.screen {
    background-color:springgreen;
}


.ui:after {
    content: "";
    display: table;
    clear: both;
}

.ui {
    border: 1px solid gold;
    margin:0px;
    height:80%;
}