body {
    background-color:lightgray;
}

html, body {
    height:100%;
}

.screen, .control_panel {
    float:left;
}

.control_panel {
    background-color:skyblue;
    width:19%;
    border: 1px solid blue;
    text-align:center;
    height:fit-content;
    padding-bottom: 2%;
}

.screen {
    width:80%;
    background-color:springgreen;
    text-align:center;
    vertical-align:center;
    border-radius: 10px;
    border: 1px solid green;
    height: 100%;
}


.ui:after {
    content: "";
    display: table;
    clear: both;
}

.ui {
    margin:0px;
    height:95%;
}

#view_canvas {
    border:1px solid black;
    margin-top:1%;
    height:95%;
    width:95%;
}

#step_btn, #run_btn {
    margin:5px;
    background-color: green;
    border:2px solid black;
    padding:10px;
    color:white;
    width:75%;
}

#speed_seekbar {
    width:70%;
    padding:5px;
}
