body {
    background-color: lightgreen;
    border: 10px black;
}

.startMenu {
    position:absolute;
    left:40%;
    top:25%;
    width:20%;
    height:20%;
    border: 3px solid black;
    background-color:green;
    text-align:center;
    vertical-align:middle;
}

#select_string {
    color: white;
    font-size: large;
    font-style:normal;
}

#start_btn {
    padding:5%;
    width: 80%;
    border:4px solid black;
    background-color: tomato;
}