h1 {
    text-align: center;
}

body {
    background-color: lightblue;
}

#canvas_div {
    text-align : center;
}

/*
#myCanvas {
    text-align : center;
    padding: 0cm;
    margin: 1cm;
    border: 10px solid gray;
}
*/