h1 {
    text-align: center;
}

body {
    background-color: lightblue;
}

#canvas_div {
    text-align : center;
    border: 10px solid red;
    background-color: seagreen;
}

#myCanvas {
    text-align : center;
    padding: 0cm;
    margin: 0cm;
    border: 5px solid gray;
}

#dropdown {
    font-size: medium;
    color: blue;
    background-color: gold;
    padding: 16px;
    margin: 10px;
    cursor: crosshair;
}

#dropdown:focus {
    background-color: solid grey;

}