h1 {
    text-align: center;
}

body {
    background-color: lightblue;
}

#canvas_div {
    text-align : center;
    border: 10px solid red;
    background-color: seagreen;
}

#myCanvas {
    text-align : center;
    padding: 0cm;
    margin: 0cm;
    border: 5px solid gray;
}